/*******************************TAG SELECTORS******************************/


body {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: #40514E;


}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 4.635rem;
  line-height: 2;
  color: #66BFBF;



}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Bellota Text', cursive;
  color: #11999E;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.3rem;
  line-height: 2;
}

span {
  font-weight: bold;
}

hr {
  border: dotted #EAF6F6 6PX;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}

a {
  color: #11999e;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Cabin', sans-serif 50%;


}

a:hover {
    color: #eaf6f6;

}


/*********************************TAG SELECTORS******************************/
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;



}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;


}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
  width: 7%;
}

.sun {
  position: absolute;
  right: 490px;
  top: 40px;
  width: 70px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 400px;
  width: 7%;

}

.mount {
width: 40%;

}
.video2{
  width: 200px;
  float: left;
  margin-right: 40px;


}

.intro {
  width: 30%;
  margin: auto;
}

.dj1{
  width: 200px;
  float: right;
  margin-left: 30px;
}

.tasos {
  width: 200px;
}

.in {
  width: 30px;
  margin: 5px 10px;



}

.tw {
  width: 30px;
  margin: 5px 10px;
}

.appbrewery {
  width: 32px;
  margin: 5px 10px;

}

.footer-link{
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.btn {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}



.myButton {
	box-shadow:inset -1px 0px 15px -1px #2bc4ad;
	background-color:#119992;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2bc4ad;
}
.myButton:hover {
	background-color:#1bbabf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.copy {
  color: #eaf6f6;
  font-size: 1rem;
  padding: 20px 0;
  font-family: 'Cabin', sans-serif;
}
